output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
python/classy.egg-info/dependency_links.txt
python/classy.egg-info/PKG-INFO
python/classy.egg-info/SOURCES.txt
python/classy.egg-info/top_level.txt
python/dist/classy-3.2.2-py3.12-macosx-14.0-arm64.egg
